---

---

///////////////////////////

//Variables

$brand: rgb(180, 239, 241);
$highlight: rgb(255, 255, 0);
$black: #0a0a0a;
$grey: rgb(243, 243, 243);
$white: rgb(250, 250, 250);
$action: rgb(44, 84, 214);

$base-spacing: 1.5em;
$max-width: 1400px;
$shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
$radius:4px;

$small: 414px;
$medium: 600px;
$large: 900px;
$xl: 1200px;

///////////////////////////

//Mixins

@import "_mixins/_mixins";
@import "_extends/extends";

///////////////////////////

//Imports

@import "_base/normalize";
@import "_typography/fonts";
@import "_layout/layout";
@import "_layout/product-gallery";
@import "_layout/product-single";
@import "_components/site-header";
@import "_components/navigation";
@import "_components/site-footer";
@import "_components/share-buttons";
@import "_components/snipcart-button";
