@mixin inline-list-centered {
    ul {
        margin: auto;
        text-align: center;
        max-width: $max-width;

        li {
            display: inline;
            margin: 0 ($base-spacing / 3);

            a {
                padding: $base-spacing / 2;
            }
        }
    }
}

@mixin inline-list-left {
    ul {
        margin-top: $base-spacing;
        margin-left: -$base-spacing / 2;
        max-width: $max-width;

        li {
            display: inline;
            margin: $base-spacing / 4;

            &:first-of-type {
                margin-left: 0;
            }

            a {
                padding: $base-spacing / 2;
                font-size: 1em;
            }
        }
    }
}

@mixin list-left {
    ul {
        margin-top: $base-spacing;
       
        max-width: $max-width;

        li {
            margin: $base-spacing / 4 0;
            display: block;

          
            a {
                font-size: 1em;
            }
        }
    }
}
