$headings: Impact, Helvetica, sans-serif;
$body: Arial, Helvetica, sans-serif;
body {
    font-family: $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings;
}

h1 {
    font-size: 2.242rem;
}

h2 {
    font-size: 1.428rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1.514rem;
}

/* Paragraphs and Links */
p,
a {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.5;
}

a {
    display: inline-block;
}

/*  Links Within Paragraphs*/

p a {
    color: inherit;
    box-shadow: inset 0px -7px 0px $highlight;

    &:hover {
        box-shadow: inset 0px -100px 10px $highlight;
        transition: all ease 0.3s;
    }
}
figcaption {
    font-size: 0.8em;
    opacity: 0.6;
}
