$headings: Arial, Helvetica, sans-serif;
$body: Helvetica, sans-serif;
body {
    font-family: $body;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings;
    margin-bottom: $base-spacing/2;
}


/* Paragraphs and Links */
p,
a {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5;
}

p a{
    display: inline;

}

a {
    display: inline-block;

}

/*  Links Within Paragraphs*/

p a {
    color: inherit;
font-weight: 400;

    &:hover {
        box-shadow: inset 0px -100px 10px $offwhite;
        transition: all ease 0.3s;
    }
}
figcaption {
    font-size: 0.8em;
    opacity: 0.6;
}
