<form action=" ">
    <div class="newsletter-container">
        <h3>Subscribe to our Newsletter</h3>
        <p>Subscribe to our newsletter</p>
    </div>
    <div class="newsletter-container">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Email address" name="mail" required>
        <label>
            <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
        </label>
    </div>
    <div class="newsletter-container">
        <button class="snipcart-button-primary snipcart-base-button" type="submit">SUBSCRIBE</button>
    </div>
</form>