<section class="product-gallery all-products">
    <h1 class="section-header">All Products</h1>
    {% for product in site.products %}
    <!-- begin new product container -->
    <article class="product">
        {% if product.image %}
        <figure>
            <a href="{{ product.url }}">
                {% picture thumbnail  /assets/images/product-images/{{product.image}} --alt {{product.imageCaption}} %}
            </a>
        </figure>
        {% endif %}
        <div class="product-info">
            <span class="product-title">{{ product.title }}</span> – <span>${{ product.price }}</span>
        </div>
    </article>
    {% endfor %}
</section>