<!-- The expanding image container -->
<section class="product-images">
    <div class="gallery-container">
        <figure>
            <img id="expandedImg" src="/assets/images/product-images/{{page.image}}" alt="{{page.imageCaption}}"
                width="400" height="600">
            <figcaption id="imgtext">{{ page.imageCaption }}</figcaption>
        </figure>
    </div>
    {% if page.thumbnail_images %}
    <!-- thumbnail image gallery -->
    <div class="image-gallery column">
        <!-- main thumbnail image -->
        <figure>
            <img src="/assets/images/product-images/{{page.image}}" alt="{{page.imageCaption}}" width="640" height="900"
                onclick="expandImages(this);">
        </figure>
        {% for item in page.thumbnail_images %}
        <!-- additional thumbnail images -->
        <figure>
            <img src="/assets/images/product-images/{{item.image}}" alt="{{item.caption}}" width="200" height="400"
                onclick="expandImages(this);">
        </figure>
        {% endfor %}
    </div>
    {% endif %}
</section>

