{% if page.url == "/" %}
<div id="share-buttons">
    <strong>Share this:</strong>
    <!-- Email -->
    <a href="mailto:?Subject={{ site.title }} / {{ product.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ product.url }}"
        title="e-mail {{ site.title }}/{{ product.title }}">
        <img src="/assets/icons/email.svg" alt="e-mail {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ product.url }}" target="_blank"
        title="Facebook share {{ site.title }} / {{ product.title }}">
        <img src="/assets/icons/facebook.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"
        title="Pinterest share {{ site.title }} / {{ product.title }}">
        <img src="/assets/icons/pinterest.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ site.url }}{{ product.url }}&amp;title={{ site.title }} / {{ product.title }}"
        target="_blank" title="Reddit share {{ site.title }} / {{ product.title }}">
        <img src="/assets/icons/reddit.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ product.url }}&amp;title={{ site.title }} / {{ product.title }}"
        target="_blank" title="Tumblr share {{ site.title }} / {{ product.title }}">
        <img src="/assets/icons/tumblr.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ site.url }}{{ product.url }}&amp;text={{ site.title }} / {{ product.title }}"
        target="_blank" title="Twitter share {{ site.title }} / {{ product.title }}">
        <img src="/assets/icons/twitter.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- end #share-buttons -->
</div>
{% else %}
<div id="share-buttons">
    <strong>Share this:</strong>
    <!-- Email -->
    <a href="mailto:?Subject={{ site.title }} / {{ page.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20{{ site.url }}{{ page.url }}"
        title="e-mail {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/email.svg" alt="e-mail {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    </a>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"
        title="Facebook share {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/facebook.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"
        title="Pinterest share {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/pinterest.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ site.title }}/{{ page.title }}"
        target="_blank" title="Reddit share {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/reddit.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&amp;title={{ site.title }}/{{ page.title }}"
        target="_blank" title="Tumblr share {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/tumblr.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ site.title }}/{{ page.title }}"
        target="_blank" title="Twitter share {{ site.title }} / {{ page.title }}">
        <img src="/assets/icons/twitter.svg" alt="share {{ site.title }}/{{ product.title }}" width="24" height="24">
    </a>
    <!-- end #share-buttons -->
</div>
{% endif %}