<aside id="left">
    <h3>Site Map</h3>
    <ul>
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {%
        if p.navigation_weight
        %}
        <li>
            <a href="{{ p.url }} " {% if p.url==page.url %} class="active" {% endif %}>{{ p.title }}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
</aside>
{% if site.instagram_username or site.twitter_username or site.linkedIn_username or site.github_username %}
<aside id="right">
{%include site-social.html%}
</aside>
{% endif %}