</main>
<footer class="site-footer">
    <div class="footer-widget-container">
        <section>
            <div class="footer-widget">
                <p>{{site.description}}</p>
            </div>
            {%- if site.data.siteNavigation.footerNavigation.display == true %}
            <div class="footer-widget">
                <ul class="site-links">
                    {% for item in site.data.siteNavigation.footerNavigation.items -%}
                    <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name}}</a></li>
                    {% endfor -%}
                </ul>
            </div>
            {%- endif -%}
        </section>
        <section>
            <div class="footer-widget colophon">
                <p>© {{ site.time | date: '%Y' }} - {{site.title}}</p>
            </div>
            {%- if site.data.siteSocial.socialWidget.display == true %}
            {% include site-social.html %}
            {%- endif -%}
        </section>
    </div>
</footer>
{%- if site.Snipcart_API %}
{% include site-snipcart-assets.html %}
{% endif %}
{% if page.layout == 'product' %}
<script src="/js/gallery-images.js"></script>
<script src="/js/tabbed-content.js"></script>
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
{% endif %}
</body>
</html>