{% include site-product-page-header.html %}
<div class="product">
    {% if page.featured_image %}
    <figure style="position: relative">
        {% if page.quantity
        < 1 %} <div class="sold-out">
            <h3>Sorry, sold out</h3>
</div>
{% endif %}
<img src="/assets/images/product-images/{{page.featured_image}}" alt="Product Image" width="400"
    height="400">
<figcaption>{{ page.imageCaption }}</figcaption>
</figure>
{% endif %}
<div class="title-and-description">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
    {% endif %} {{page.content}} {% if page.quantity
    < 1 %}<h2>Sorry, sold out</h2>
        {% else %} {% include site-snipcart-button.html %} {% endif %} {% include site-share.html %}
</div>
<!-- end .product -->