<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {% seo %}
</head>
<body>
    <div class="snipcart-summary">
        <a href="#" class="snipcart-checkout">
            <img src="/assets/icons/cart.svg" alt="View Shopping Cart" width="24" height="24">
            (<span class="snipcart-total-items">0</span>)
        </a>
    </div>