body {
    background-color: $grey;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $base-spacing;
    max-width: $max-width;
    margin: auto;
    padding-left: $base-spacing/2;
    padding-right: $base-spacing/2;
    @media (min-width: $medium) {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
    @media (min-width: $large) {
        padding-left: $base-spacing * 2;
        padding-right: $base-spacing * 2;
    }
}

body.page {
    main {
        grid-template-columns: 1fr 2fr 1fr;

        .the-content {
            grid-column: 1 / 4;
            text-align: justify;
            margin: $base-spacing*2 auto;

            @media (min-width: $xl) {
                grid-column: 2 / 3;

            }
        }
    }
}
