section.single-product {
    display: flex;
    min-height: 50vh;
    position: relative;

    .product {
        width: 100%;
        position: relative;
        border-bottom: 1px solid $grey;
        padding: $base-spacing;
        margin: $base-spacing auto;

        .buy.snipcart-add-item {
            min-width: 100%;
            margin-top: $base-spacing;
            margin-bottom: 0;
        }

        @media (max-width: $small) {
            padding: 0;
        }

        figure {
            position: relative;

            @include flex-content-3;

            float: left;

            .sold-out {
                background: white;
                margin: auto;
                position: absolute;
                padding: $base-spacing;
            }

            img {
                padding: 0 0 ($base-spacing / 2);
                margin: 0;
            }

            padding: 0 0 ($base-spacing / 2);
            margin: $base-spacing auto ($base-spacing / 2);
            background: white;
            box-shadow: $shadow;

            @media (max-width: $small) {
                box-shadow: none;
            }

            figcaption {
                text-align: right;
                font-size: .8em;
                opacity: .3;
                margin: 0 ($base-spacing / 2);
            }
        }

        .title-and-description {
            @include flex-content-2;

            float: left;
        }

        #share-buttons {
            padding: ($base-spacing * 2) 0;
            width: 100%;
            float: left;

            h4 {
                padding: $base-spacing 0;
            }

            .fa {
                font-size: 1.5em;
                margin: $base-spacing / 5;

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}
