section.gallery {
    .product {
        @include flex-content-4;
        position: relative;
        border-bottom: 1px solid $grey;

        .buy.snipcart-add-item {
            min-width: 100%;
        }

        figure {
            img {
                padding: 0 0 ($base-spacing / 2);
                margin: 0;
            }

            padding: 0 0 ($base-spacing / 2);
            margin: $base-spacing auto ($base-spacing / 2);
            background: white;

            //width: calc(100% - #{$base-spacing});
            box-shadow: $shadow;
        }

        a.buy {
            @extend %button-1;
        }
    }
}
