.product-gallery.featured-products {
    .product {
        display: grid;
        // if there is more than one featured product, add some margin
        &:nth-child(n + 2) {
            margin-top: $base-spacing;
        }
    }
    @media (max-width: $large - 1px) {
        .product {
            .product-info {
                grid-row: 1;
                grid-column: 1;
                z-index: 2;
                margin: auto auto $base-spacing;
                width: 85%;
                max-width: 560px;
                text-align: center;
                padding: $base-spacing * 1.5 $base-spacing $base-spacing ;
                background-color: $white;
                color: initial;

                box-shadow: $shadow;

                .product-title {
                    font-size: 1.5rem;
                }
            }
            figure {
                grid-row: 1;
                grid-column: 1;
                margin: auto auto $base-spacing * 4 auto;
            }
        }
    }

    @media (min-width: $large) {
        .product {
            grid-template-columns: 414px 1fr;

            background-color: $white;
            color: initial;

            padding: $base-spacing;
            gap: $base-spacing * 1.5;
            box-shadow: $shadow;

            .product-info {
                grid-row: 1;
                grid-column: 2 / 2;
                margin: auto auto auto 0;

                .product-title {
                    font-size: 2.5rem;
                }
            }

            // if there is more than one featured product, add some margin
            &:nth-child(n + 2) {
                margin-top: $base-spacing * 2;
            }
        }
    }

    @media (min-width: $xl) {
        .product {
            grid-template-columns: 640px 1fr;
            gap: $base-spacing * 2;
        }
    }
}
