.product-gallery.all-products {
    .section-header {
        grid-column: 1 / 3;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $base-spacing/2;
    .product {
        display: flex;
        flex-direction: column;

        figure {
            margin-bottom: $base-spacing/2;
        }

        .product-info {
            display: flex;
            justify-content: space-between;

            .product-title {
                font-size: 1rem;
            }

            .product-price {
                margin: auto 0;
            }
        }
    }

    @media (min-width: $large) {
        grid-template-columns: repeat(3, 1fr);
        gap: $base-spacing;


        .section-header {
            grid-column: 1 / 4;
        }

        .product {
            margin-bottom: unset;

            .product-info {
                flex-direction: column;

                .product-price {
                    margin: $base-spacing/2 0 0;
                }
            }
        }
    }

    @media (min-width: $xl) {
        .section-header {
            grid-column: 1 / 5;
        }

        grid-template-columns: repeat(4, 1fr);
        gap: $base-spacing;

    }
}
