body.product .product {
    display: grid;
    grid-column: 1 / 4;
    .product-images {
        grid-column: 1 / 3;
        position: relative;
        figure {
            max-width: 640px;

            img {
                margin-top: unset;
                box-shadow: $shadow;
            }
        }
    }
    .title-and-description {
        max-width: 360px;
        grid-column: 3 / 4;
        margin-left: auto;
        margin-right: 0;
        background-color: $white;
        padding: $base-spacing;
        box-shadow: $shadow;

        .shipping-details {
            font-size: 0.8rem;
        }

        .product-price {
            font-size: 2.5rem;
            font-weight: bolder;
            display: block;
            margin-top: $base-spacing/2;
            margin-bottom: $base-spacing/2;
        }

        .product-options {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid$black;

            select {
                border: none;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }

    .article-footer {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: $base-spacing * 4 0 0;
    }
}

.sold-out {
    font-family: $headings;
    font-weight: bolder;
    display: block;
    margin-top: $base-spacing/2;
    margin-bottom: $base-spacing/2;

    .product-images & {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        box-shadow: $shadow;
        padding: $base-spacing/4;
    }

    .title-and-description & {
        font-size: 2.5rem;
        font-weight: bolder;
        display: block;
    }
}
