body.product .product {
    display: grid;
    grid-column: 1 / 4;

    @media (max-width: $xl) {
        gap: $base-spacing;
    }

    .product-images {
        grid-column: 1 / 4;
        grid-row: 1;
        display: grid;
        gap: $base-spacing;

        @media (min-width: $large) {
            grid-column: 1 / 3;
        }

        img {
            margin-top: unset;
            margin-bottom: $base-spacing/2;

            box-shadow: $shadow;
        }
        .gallery-container {
            grid-column: 1 / 3;
            margin: 0 auto;

            @media (min-width: $large) {
                grid-column: 1 / 3;
                grid-row: 1;
                max-width: 640px;
            }
            @media (min-width: $xl) {
                grid-column: 2 / 2;
                margin-right: $base-spacing;
                margin-left: 0;
            }
        }

        .image-gallery.column {
            /* Style the images inside the grid */
            grid-column: 1 / 3;
            @media (max-width: $xl) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $base-spacing/2;
                align-items: center;
                margin: 0 auto;

                img {
                    margin-bottom: 0;
                }
            }

            @media (min-width: $xl) {
                grid-column: 1 / 2;
                width: 150px;
            }

            img {
                cursor: pointer;
            }
        }
    }
    .title-and-description {
        grid-column: 1 / 4;
        grid-row: 2;
        color:$black;


        > div {
            padding: $base-spacing;
            &:first-of-type {
                box-shadow: $shadow;
                background-color: $white;
            }
        }

        @media (min-width: $large) {

            max-width: 360px;
            grid-column: 3 / 4;
            grid-row: 1;
            margin-left: auto;
            margin-right: 0;
        }

        .shipping-details {
            font-size: 0.8rem;
        }

        .product-price {
            display: block;
            font-size: 2.5rem;
            font-weight: bolder;
            margin-top: $base-spacing/2;
            margin-bottom: $base-spacing/2;
        }

        .options-and-purchase {
            max-width: 320px;
            @media (max-width: $medium) {
                margin: auto;
            }

            .product-options .product-option {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $black;
                margin: $base-spacing 0;
                padding: $base-spacing/2 0;
                font-size: 0.8rem;
                font-weight: bolder;

                select {
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                    padding-right: $base-spacing/2;
                }
            }
        }
    }
}
