body.product .product {
    display: grid;
    grid-column: 1 / 4;
    gap: $base-spacing;

    .product-images {
        grid-column: 1 / 4;
        grid-row: 1;
        display: grid;
        gap: $base-spacing;

        img {
            margin-top: unset;
            margin-bottom: $base-spacing/2;
            box-shadow: $shadow;
        }
        .gallery-container {
            grid-column: 1 / 3;
            margin: 0 auto;
        }

        .image-gallery.column {
            /* Style the images inside the grid */
            grid-column: 1 / 3;

            img {
                cursor: pointer;
            }
        }
    }
    .title-and-description {
        grid-column: 1 / 4;
        grid-row: 2;
        color: $black;

        > div {
            padding: $base-spacing;
            &:first-of-type {
                box-shadow: $shadow;
                background-color: $white;
                color: initial;

            }
        }

        .shipping-details {
            font-size: 0.8rem;
        }

        .product-price {
            display: block;
            font-size: 2.5rem;
            font-weight: bolder;
            margin-top: $base-spacing/2;
            margin-bottom: $base-spacing/2;
        }

        .options-and-purchase {
            max-width: 320px;

            .product-options .product-option {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $black;
                margin: $base-spacing 0;
                padding: $base-spacing/2 0;
                font-size: 0.8rem;
                font-weight: bolder;

                select {
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                    padding-right: $base-spacing/2;
                }
            }
        }
    }

    @media (min-width: $large) {
        gap: $base-spacing * 2;

        .product-images {
            grid-column: 1 / 3;
            max-width: unset;
        }
        .gallery-container {
            grid-column: 1 / 3;
            grid-row: 1;
            max-width: 640px;
            margin: unset;
            margin-left: 0 !important;
        }
        .title-and-description {
            max-width: 360px;
            grid-column: 3 / 4;
            grid-row: 1;
            margin-left: auto;
        }
    }

    @media (max-width: $xl - 1px) {
        .image-gallery.column {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $base-spacing/2;

            img {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $xl) {
        .product-images {
            .gallery-container {
                grid-column: 2 / 2;
            }
            .image-gallery.column {
                grid-column: 1 / 2;
                width: 150px;
            }
        }
    }
}
