--- 
# Front matter comment to ensure Jekyll properly reads file.
--- 

///////////////////////////

//Variables

$brand: rgb(180, 239, 241);
$highlight: rgb(255, 255, 0);
$black: rgb(10, 10, 10);
$grey: rgb(204, 204, 204);
$white: rgb(250, 250, 250);
$action: rgb(6, 1, 7);

$base-spacing: 1.5em;
$max-width: 1400px;
$shadow: 0px 0px 5px $grey;

$small: 414px;
$medium: 600px;
$large: 900px;

///////////////////////////

//Mixins

@import "_mixins/_mixins";
@import "_extends/extends";

@mixin flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;


    span {
        margin: auto;
    }

    @media (max-width: 400px) {
        display: block;
        float: left;
        width: 100%;
        min-height: auto;

        span {
            padding: ($base-spacing * 2) $base-spacing;
            width: 100%;
            float: left;
        }
    }
}

@mixin flex-content-4 {
    padding: $base-spacing;
    width: calc(100%/4); /* Or whatever */
    margin: 0  auto; /* Magic! */

    @media (max-width: $large) {
        width: calc(100%/3); /* Or whatever */
    }

    @media (max-width: $medium) {
        width: calc(100%/2); /* Or whatever */
    }

    @media (max-width: $small) {
        display: block;
        float: left;
        width: 100%;
    }
}

@mixin flex-content-3 {
    padding: $base-spacing;
    width: calc(100%/3); /* Or whatever */
    margin: 0  auto; /* Magic! */

    @media (max-width: $large) {
        width: calc(100%/2); /* Or whatever */
    }

    @media (max-width: $medium) {
        width: calc(100%/2); /* Or whatever */
    }

    @media (max-width: $small) {
        display: block;
        float: left;
        width: 100%;
    }
}

@mixin flex-content-2 {
    padding:$base-spacing/2 $base-spacing*2;
    width: calc(100%/2); /* Or whatever */
    margin: 0  auto; /* Magic! */

    @media (max-width: $large) {
        width: calc(100%/2); /* Or whatever */
    }

    @media (max-width: $medium) {
        width: calc(100%/2); /* Or whatever */
    }

    @media (max-width: $small) {
        display: block;
        float: left;
        width: 100%;
        padding:$base-spacing;
                   

    }
}

///////////////////////////

//Imports

@import "_base/normalize";
@import "_typography/fonts";
@import "_layout/layout";
@import "_layout/product-gallery";
@import "_layout/product-single";
@import "_components/header";
@import "_components/asides";
@import "_components/navigation";
@import "_components/footer";
@import "_components/share-buttons";
@import "_components/snipcart-summary";
