%button-1 {
    width: 100%;
    float: left;
    text-align: center;
    margin: $base-spacing 0 ($base-spacing * 2);
    padding: $base-spacing / 2;
    background: $action;
    border: 1px solid $grey;
    font-size: 14px;
    color: $white;
    font-weight: bold;

    @include transition-all;

    &:hover {
        box-shadow: $shadow;


        @include transition-all;
    }

    &:active {

         box-shadow: inset $shadow;

        @include transition-all;
    }
}
