{% include site-header.html %}
<section class="product-gallery featured-products">
    {% for product in site.products %}
    {% if product.featured == true %}
    <article class="product">
        <div class="product-info">
            <h1 class="product-title">{{ product.title }}</h1>
            {% if product.description %}
            <p>{{product.description}}</p>
            {% endif %}
            {% include site-snipcart-button.html %}
        </div>
        {% if product.image %}
        <figure>
            <a href="{{ product.url }}">
                {% picture /assets/images/product-images/{{product.image}} --alt {{product.imageCaption}} %}
            </a>
        </figure>
        {% endif %}
    </article>
    {% endif %}
    {% endfor %}
</section>
{% include products-grid.html %}
{% include newsletter-form.html %}
{% include site-footer.html %}