{% include site-header.html %}
<section class="product-gallery featured-products">
    {% for product in site.products %}
    {% if product.featured == true %}
    <article class="product">
        <div class="product-info">
            <h1 class="product-title">{{ product.title }}</h1>
            {% if product.description %}
            <p>{{product.description}}</p>
            {% endif %}
            {% include site-snipcart-button.html %}
        </div>
        {% if product.image %}
        <figure>
            <a href="{{ product.url }}">
                <img src="/assets/images/product-images/{{product.image}}" alt="{{product.imageCaption}}" width="400"
                    height="400">
            </a>
        </figure>
        {% endif %}
    </article>
    {% endif %}
    {% endfor %}
</section>
<section class="product-gallery recent-products">
    <h1 class="section-header">Recent Products</h1>
    {% for product in site.products %}
    {% if product.featured != true %}
    <article class="product">
        {% if product.image %}
        <figure>
            <a href="{{ product.url }}">
                <img src="/assets/images/product-images/{{product.image}}" alt="{{product.imageCaption}}" width="400"
                    height="400">
            </a>
        </figure>
        {% endif %}
        <div class="product-info">
            <h1 class="product-title">{{ product.title }}</h1>
            {% if product.description %}
            <p>{{product.description}}</p>
            {% endif %}
            {% include site-snipcart-button.html %}
        </div>
    </article>
    {% endif %}
    {% endfor %}
</section>
{% include site-footer.html %}