{% include site-header.html %}
<article class="product">
    {% if page.featured_image %}
    <section class="product-images">
        <figure>
            {% if page.quantity
            < 1 %} <div class="sold-out">
                <span>Sorry, sold out</span>
                </div>
                {% endif %}
                <img src="/assets/images/product-images/{{page.featured_image}}" alt="Product Image" width="400"
                    height="400">
                <figcaption>{{ page.imageCaption }}</figcaption>
        </figure>
    </section>
    {% endif %}
    <section class="title-and-description">
        <h1>{{ page.title }}</h1>
        {{page.content}}
        <ul class="shipping-details">
            <li><strong>Weight:</strong> {{page.weight}} ounces</li>
            <li><strong>Shipping Time:</strong> {{page.shipping_time}}</li>
        </ul>
        {% if page.quantity
        < 1 %}<div class="sold-out">
            <span>Sorry, sold out</span>
            </div>
            {% else %}
            <span class="product-price">${{page.price}}</span>
            {% if page.product_options %}
            <div class="product-options">
                <label for="pot-select">{{page.product_options.title}}</label>
                <select name="pot-color" id="product-options" class="product-options">
                    {% for item in page.product_options.options %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% include site-snipcart-button.html %}
            {% endif %}
            {% include site-share.html %}
    </section>
    <footer class="article-footer">
        <aside id="left">
            <strong>Site Map</strong>
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages
                %} {%
                if p.navigation_weight
                %}
                <li>
                    <a href="{{ p.url }} " {% if p.url==page.url %} class="active" {% endif %}>{{ p.title }}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </aside>
        {% if site.instagram_username or site.twitter_username or site.linkedIn_username or site.github_username %}
        <aside id="right">
            {%include site-social.html%}
        </aside>
        {% endif %}
    </footer>
</article>
<!-- end .product -->
{% include site-footer.html %}