ul.social-follow-links {
    display: flex;
    justify-content: flex-start;
    li a {
        margin: $base-spacing/4;
        &:first-of-type {
            margin-left: 0;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
