#share-buttons {
    strong {
        display: block;
        margin: $base-spacing / 5 0;
    }

    img {
        margin: $base-spacing / 5;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
