.site-footer .footer-widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer-widget {
    display: flex;
    align-items: flex-end;
    ul {

      li {
        display: inline-block;
        border-bottom: 1px solid;
        padding: $base-spacing/4;
      }
    }
  }

  @media (min-width: $medium) {
    flex-direction: row;
  }
}
