header {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;

    @media (max-width: $medium) {
        margin: 0 auto;
        padding: 0 $base-spacing / 2;
    }

    @media (min-width: $medium) and (max-width: $large) {
        margin: 0 auto $base-spacing;
        padding: 0 $base-spacing;
    }
    @media (min-width: $large) {
        margin: $base-spacing auto;
        padding: 0 $base-spacing * 2;
    }
    @media (min-width: $xl) {
        margin: $base-spacing auto $base-spacing * 3;
    }

    > div:first-of-type {

        img.site-logo {
            width: auto;
            height: 100px;
            margin: 0 auto 0 0;
        }
    }
    .snipcart-summary {
        position: relative;
        margin: auto 0 auto auto;
        img,
        svg {
            width: $base-spacing * 2;
            height: $base-spacing * 2;
            color: $black;
        }
        .snipcart-items-count {
            position: absolute;
            top: $base-spacing * 1.35;
            left: $base-spacing/1.2;
        }
    }

    .header-widgets {
        display: flex;
        justify-content: space-between;

        > div {
            margin-left: $base-spacing;
        }
    }
}
