nav#main-menu {
    display: none;
    overflow: hidden;

    &.responsive {
        display: flex;
        flex-direction: column;
        ul {
            list-style-type: none;
            font-weight: bolder;

            margin-top: $base-spacing/2;
            max-width: 100%;
            white-space: nowrap;
            overflow-x: scroll;

            li {
                padding: $base-spacing/2 0;
                display: inline;
                line-height: 1;
                overflow: hidden;
                a {
                    border: 1px solid $black;
                    background-color: $white;
                    padding: $base-spacing/2;
                    border-radius: $base-spacing/5;
                    line-height: 1;
                    font-size: 0.9rem;
                    font-weight: bolder;
                }
            }
        }
        a.snipcart-checkout {
            display: inline-block;
            width: 150px;
            color: var(--color-buttonPrimary, #fff);
            background-color: var(--bgColor-buttonPrimary, #1a4db3);
            border-radius: 4px;
            cursor: pointer;
            margin-top: $base-spacing/2;
            padding: $base-spacing/2;
            font-weight: bolder;

            svg {
                background-color: $white;
                padding: 4px;
                margin: -4px 5px 0 0;
                border-radius: 100%;
            }
            &::after {
                content: "View Cart →";
            }
        }
        .search-container {
            width: 250px;

            form {
                padding: 0;
                margin-bottom: $base-spacing/2;
            }

            input {
                margin: 0;
            }
        }
    }

    // desktop adjustments

    @media (min-width: $large) {
        display: flex;

        ul {
            margin: auto 0;

            li {
                display: inline-block;
                margin: auto;

                a {
                    padding: $base-spacing/2;
                }
            }
        }
        a.snipcart-checkout {
            padding: 0 0 0 $base-spacing;

            svg{
                height: 24px;
                width: 24px;
            }
        }
        .search-container {
            margin: auto;
            width: 100px;
            transition: all 0.2s;

            form,
            input {
                margin: 0;
                background: transparent;
                border: 0;
            }
            form {
                padding: 0;
            }
            input {
                padding: 10px $base-spacing/2 12px;

                &:hover {
                    cursor: pointer;
                }
                &::placeholder {
                    color: inherit;
                    font-weight: 300;
                }
            }

            &:focus-within {
                width: 300px;
                margin-left: $base-spacing;
                left: 0;
                input {
                    border-bottom: 1px solid $black;
                    background: $white;
                    &::placeholder {
                        opacity: 0;
                    }
                    &:hover {
                        cursor: default;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////
// trigger for the mobile navigation is hidden on larger screens
////////////////////////////////////////////////////////////////

a.icon {
    width: 34px;
    grid-column: 2;
    margin-left: auto;

    @media (min-width: $large) {
        display: none;
    }
}

a.snipcart-checkout {
    display: flex;

    svg {
        margin: auto;
    }
}
