.site-header {
    .icon {
        display: none;
    }

    nav.main-menu {
        display: flex;
        ul {
            margin: auto;
            font-weight: bold;

            li {
                display: inline-block;
                margin-right: $base-spacing/2;
                &:last-of-type {
                    margin-right: unset;
                }
            }
        }
    }
}
