.snipcart-summary {
    position: fixed;
    right: $base-spacing * 2;
    top: $base-spacing * 1.5;
    z-index: 9;
    padding: $base-spacing/2 $base-spacing / 4;

    a {
        display: flex;
        align-items: center;
        font-weight: bolder;
    }

    @media (max-width: $small) {
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        background: $brand;
        color: $black;
    }
}
